* {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 2vw;
  color: #111;
  box-sizing: border-box;
}

#about-yourself-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#about-yourself-wrapper > div {
  padding: 15px 40px;
}

#about-yourself-wrapper > img {
    width: 100%;
    padding-top: 10px;
}

img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.3),0 6px 20px 0 rgba(0,0,0,0.3);
}

#about-yourself-wrapper > div > h1 {
    font-size: 40px;
}
#about-yourself-wrapper > div > ul > li {
    font-size: 24px;
}

@media only screen and (min-width: 768px) {
    #about-yourself-wrapper {
        width: 600px;
        margin: 0 auto;
    }

    #about-yourself-wrapper > div > ul {
        padding: 10px 0px;
    }

    #about-yourself-wrapper > img {
        border-radius: 10%;
        padding-top: 0;
    }
}

@media only screen and (min-width: 1000px){
    #about-yourself-wrapper {
        width: 1000px;
        flex-direction: row-reverse;
        padding: 30px 0px;
        column-gap: 20px;
        
    }

    #about-yourself-wrapper > img {
        flex: 40%;
        border-radius: 45%;
        height: 100%;
    }

    #about-yourself-wrapper > div {
        flex: auto;
        height: 100%;
    }
}